.container {
  position: relative;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  width: 100vw;
}
.background {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start end;
}
.background {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
